body {
  --gunmetal: #2a2d34ff;
  --carolina-blue: #009ddcff;
  --orange-red: #f26430ff;
  --dark-blue-gray: #6761a8ff;
  --green-cyan: #009b72ff;
  /*Colors*/

  margin: 0;
  background-color: var(--gunmetal);
  color: var(--carolina-blue);
  font-family: Arial, Helvetica, sans-serif;
}

.content {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

#clock {
  color: var(--carolina-blue);
  background-color: var(--gunmetal);
  border: 0px;
  font-size: 70px;
  text-shadow: 3px 3px var(--dark-blue-gray);
}

@keyframes example {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

#greeting {
  text-shadow: 1px 1px var(--dark-blue-gray);
  animation-name: example;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
